.header {
    position: fixed;
    top: 0;
    height: 80px;
    width: 100%;
}

.navbar { 
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    background-color: #FDFDFD;
    height: 70px;
}

.navbar-button {
    background-color: rgb(255, 255, 255);

    color: #303030;
    
    font-weight: 700;
    font-size: 16px;

    border: none;
    border-radius: 5px;

    margin-left: 50px;

    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 20px;

    cursor: pointer;

    transition: 0.35s all ease;
}

.navbar-button:hover {
    color: #717171;
    transition: 0.35s all ease;
}